<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<!-- meta character set -->
		<meta charset="UTF-8"/>
		<!-- Site Title -->
		<title>Tin tức</title>
		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"/>
		<!--
		CSS
		============================================= -->
		<link rel="stylesheet" th:href="@{/css/linearicons.css}" />
		<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" />
		<link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
		<link rel="stylesheet" th:href="@{/css/magnific-popup.css}" />
		<link rel="stylesheet" th:href="@{/css/nice-select.css}" />
		<link rel="stylesheet" th:href="@{/css/animate.min.css}" />
		<link rel="stylesheet" th:href="@{/css/owl.carousel.css}" />
		<link rel="stylesheet" th:href="@{/css/jquery-ui.css}" />
		<link rel="stylesheet" th:href="@{/css/main.css}" />
	</head>
	<body>
		<header>		
			<div class="logo-wrap">
				<div class="container">
					<div class="row justify-content-between align-items-center">
						<div class="col-lg-12 col-md-12 col-sm-12 logo-left no-padding text-center">
							<a href="admin_TC.html">
								<img class="img-fluid" src="img/logo.png" alt=""/>
							</a>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
						</div>
						<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 text-right" style="padding-top: 8px">
							<h4>Hello, <a href="QLTaiKhoan.html" th:text="${session.usernamead}"></a></h4>						
						</div>
						<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-right">
							<button type="button" class="btn btn-warning"><a href="trangchu.html" style="color: white">Đăng xuất</a></button>
						</div>

					</div>
				</div>
			</div>
			<div class="container main-menu" id="main-menu">
				<div class="row align-items-center justify-content-between">
					<nav id="nav-menu-container">
						<ul class="nav-menu">
							<li class="menu-active"><a href="admin_TC.html">Trang chủ</a></li>
							<li class="menu-has-children"><a href="QLTinTuc.html">Quản lý tin tức</a>
						</li>
						<li><a href="QLTaiKhoan.html">Tài khoản cá nhân</a></li>
					</ul>
					</nav><!-- #nav-menu-container -->
					<div class="navbar-right">
					<form class="Search" th:action="@{/search}">
						<input type="text" class="form-control Search-box"
							name="Search-box" id="Search-box" placeholder="Search" /> <label
							for="Search-box" class="Search-box-label"> <span
							class="lnr lnr-magnifier"></span>
						</label> <span class="Search-close"> <span class="lnr lnr-cross"></span>
						</span>
					</form>
				</div>
				</div>
			</div>
		</header>
		
		<div class="site-main-container">
			<!-- Start top-post Area -->
			<section class="top-post-area pt-10">
				<div class="container no-padding">
					<div class="row">
						<div class="col-lg-12">
							<div class="hero-nav-area">
								<h1 class="text-white" th:text="${news.tieude}"></h1>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- End top-post Area -->
			<!-- Start latest-post Area -->
			<section class="latest-post-area pb-120">
				<div class="container no-padding">
					<div class="row">
						<div class="col-lg-8 post-list">
							<!-- Start single-post Area -->
							<div class="single-post-wrap">
								<div class="feature-img-thumb relative">
									<div class="overlay overlay-bg"></div>
									<img class="img-fluid" th:src="@{${news.anh}}" alt=""/>
								</div>
								<div class="content-wrap">
									<ul class="tags mt-10">
										<li><a href="#" th:text="${news.luotxem +' lượt xem'}"></a></li>
									</ul> 
									<a href="#">
										<h3 th:text="${news.tieude}"></h3>
									</a>
									<ul class="meta pb-20">
										<li><a href="#" th:text="${news.tacgia}"><span class="lnr lnr-user"></span></a></li>
										<li><a href="#" th:text="${news.ngay}"><span class="lnr lnr-calendar-full"></span></a></li>
									</ul>
									<div class="row">
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ndtintuc" th:utext="${news.noidung}">
										<!-- <textarea id="textBox1" name="content" TextMode="MultiLine" onkeyup="setHeight('textBox1')" 
										onkeydown="setHeight('textBox1')" style="width: 100%; overflow: hidden;" th:text="${news.noidung}" readonly="true"> </textarea>
										<script type="text/javascript">
											function setHeight(fieldId) {
												document.getElementById(fieldId).style.height = 
													document.getElementById(fieldId).scrollHeight + 'px';
											}
											setHeight('textBox1');
										</script> -->
									</div>
								</div>		
								<div class="navigation-wrap justify-content-between d-flex">
<!-- 									<a class="prev" href="#"><span class="lnr lnr-arrow-left"></span>Prev Post</a>
										<a class="next" href="#">Next Post<span class="lnr lnr-arrow-right"></span></a> -->
								</div>
								
								<div class="comment-sec-area">
									<div class="container">
										<div class="row flex-column">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="sidebars-area">
							<div class="single-sidebar-widget most-popular-widget">
								<h6 class="title">Tin tức phổ biến</h6>
								<th:block th:each="tintuc,pos:${listPopular}">
									<div class="single-list flex-row d-flex">
										<div class="thumb">
											<img th:src="@{${tintuc.anh}}" width="100px" height="80px" />
										</div>
										<div class="details">
											<a th:href="@{/{id}(id=${tintuc.matintuc})}">
												<h6 th:text="${tintuc.tieude}"></h6>
											</a>
											<ul class="meta">
												<li><a href="#" th:text="${tintuc.ngay}"><span class="lnr lnr-calendar-full"></span></a></li>
											</ul>
										</div>
									</div>
								</th:block>
							</div>
							<!-- tin tuc moi -->
							<div class="single-sidebar-widget most-popular-widget">
								<h6 class="title">Tin tức mới</h6>
								<th:block th:each="tintuc,pos:${listNew}">
									<div class="single-list flex-row d-flex">
										<div class="thumb">
											<img th:src="@{${tintuc.anh}}" width="100px" height="80px" />
										</div>
										<div class="details">
											<a th:href="@{/{id}(id=${tintuc.matintuc})}">
												<h6 th:text="${tintuc.tieude}"></h6>
											</a>
											<ul class="meta">
												<li><a href="#" th:text="${tintuc.ngay}"><span
														class="lnr lnr-calendar-full"></span></a></li>
											</ul>
										</div>
									</div>
								</th:block>
							</div>

							<div class="single-sidebar-widget social-network-widget">
								<h6 class="title">Social Networks</h6>
								<ul class="social-list">
									<li class="d-flex justify-content-between align-items-center fb">
										<div class="icons d-flex flex-row align-items-center">
											<i class="fa fa-facebook" aria-hidden="true"></i>
											<p>983 Likes</p>
										</div>
										<a href="#">Like our page</a>
									</li>
									<li class="d-flex justify-content-between align-items-center tw">
										<div class="icons d-flex flex-row align-items-center">
											<i class="fa fa-twitter" aria-hidden="true"></i>
											<p>983 Followers</p>
										</div>
										<a href="#">Follow Us</a>
									</li>
									<li class="d-flex justify-content-between align-items-center yt">
										<div class="icons d-flex flex-row align-items-center">
											<i class="fa fa-youtube-play" aria-hidden="true"></i>
											<p>983 Subscriber</p>
										</div>
										<a href="#">Subscribe</a>
									</li>
									<li class="d-flex justify-content-between align-items-center rs">
										<div class="icons d-flex flex-row align-items-center">
											<i class="fa fa-rss" aria-hidden="true"></i>
											<p>983 Subscribe</p>
										</div>
										<a href="#">Subscribe</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End latest-post Area -->
	</div>
	
	<!-- start footer Area -->
		<footer class="footer-area section-gap">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 logo-left no-padding text-center">
							<a href="trangchu.html">
								<img class="img-fluid" src="../img/logo.png" alt=""/>
							</a>
						</div>
				</div>
			    <div class="text-center" style="padding-top: 20px">
			    	<p class="footer-text m-0 col-lg-12 col-md-12" style="text-align: center; color: white;">@Road traffic news by Student HCMUTE, 2019</p>
			    </div>
				<div class="footer-bottom row text-center">
					<div class="col-lg-12 col-md-12 footer-social text-center">
						<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-dribbble"></i></a>
					</div>
				</div>
			</div>
		</footer>
		<!-- End footer Area -->
		<script th:src="@{/js/vendor/jquery-2.2.4.min.js}"></script>
		<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
		<script th:src="@{/js/vendor/bootstrap.min.js}"></script>
		<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
		<script th:src="@{/js/easing.min.js}"></script>
		<script th:src="@{/js/hoverIntent.js}"></script>
		<script th:src="@{/js/superfish.min.js}"></script>
		<script th:src="@{/js/jquery.ajaxchimp.min.js}"></script>
		<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
		<script th:src="@{/js/mn-accordion.js}"></script>
		<script th:src="@{/js/jquery-ui.js}"></script>
		<script th:src="@{/js/jquery.nice-select.min.js}"></script>
		<script th:src="@{/js/owl.carousel.min.js}"></script>
		<script th:src="@{/js/mail-script.js}"></script>
		<script th:src="@{/js/main.js}"></script>
</body>
</html>